In [1]:
import pandas as pd 

train = pd.read_csv('../Datasets/DailyDelhiClimateTrain.csv')
test = pd.read_csv('../Datasets/DailyDelhiClimateTest.csv')

In [2]:
train.head()

         date   meantemp   humidity  wind_speed  meanpressure
0  2013-01-01  10.000000  84.500000    0.000000   1015.666667
1  2013-01-02   7.400000  92.000000    2.980000   1017.800000
2  2013-01-03   7.166667  87.000000    4.633333   1018.666667
3  2013-01-04   8.666667  71.333333    1.233333   1017.166667
4  2013-01-05   6.000000  86.833333    3.700000   1016.500000

In [3]:
test.head()

         date   meantemp   humidity  wind_speed  meanpressure
0  2017-01-01  15.913043  85.869565    2.743478     59.000000
1  2017-01-02  18.500000  77.222222    2.894444   1018.277778
2  2017-01-03  17.111111  81.888889    4.016667   1018.333333
3  2017-01-04  18.700000  70.050000    4.545000   1015.700000
4  2017-01-05  18.388889  74.944444    3.300000   1014.333333

In [7]:
full_data = pd.concat([train,test], axis=0, ignore_index=True)
full_data.sort_values(by='date', ascending=True)
full_data.head()

         date   meantemp   humidity  wind_speed  meanpressure
0  2013-01-01  10.000000  84.500000    0.000000   1015.666667
1  2013-01-02   7.400000  92.000000    2.980000   1017.800000
2  2013-01-03   7.166667  87.000000    4.633333   1018.666667
3  2013-01-04   8.666667  71.333333    1.233333   1017.166667
4  2013-01-05   6.000000  86.833333    3.700000   1016.500000

In [8]:
full_data.tail()

            date  meantemp   humidity  wind_speed  meanpressure
1571  2017-04-20    34.500  27.500000    5.562500    998.625000
1572  2017-04-21    34.250  39.375000    6.962500    999.875000
1573  2017-04-22    32.900  40.900000    8.890000   1001.600000
1574  2017-04-23    32.875  27.500000    9.962500   1002.125000
1575  2017-04-24    32.000  27.142857   12.157143   1004.142857

In [13]:
if test.date.min() == train.date.max():
    cutoff = test.date.min()
cutoff

'2017-01-01'

In [14]:
full_data = full_data[['date', 'meantemp']]
full_data.to_csv('../Datasets/full_data.csv', index=False)