### Purpose  
We set the data to stationary so we can fit the model and we can do some forecasting.  


### Model
I choose `fbprophet` (Facebook Prophet) as a model. Facebook Prophet is an open-source algorithm for generating time-series models that uses a few old ideas with some new twists. It is particularly good at modeling time series that have multiple seasonalities and doesn't face some of the above drawbacks of other algorithms.  

<img src='../Images/prophet.png' style="float: left;margin:5px 20px 5px 1px" width='400' height='120'>

### Capabilities  

**Accurate and fast**  
Prophet is used in many applications across Facebook for producing reliable forecasts for planning and goal setting. Weâ€™ve found it to perform better than any other approach in the majority of cases. We fit models in Stan so that you get forecasts in just a few seconds.  


**Full automatic**  
Get a reasonable forecast on messy data with no manual effort. Prophet is robust to outliers, missing data, and dramatic changes in your time series.  

**Tunable Forcasts**  
The Prophet procedure includes many possibilities for users to tweak and adjust forecasts. You can use human-interpretable parameters to improve your forecast by adding your domain knowledge.

In [8]:
import pandas as pd 
import numpy as np 
from prophet import Prophet

train = pd.read_csv('../Datasets/detrend_train.csv')
test = pd.read_csv('../Datasets/DailyDelhiClimateTest.csv')

train.tail()

              ds         y
1457  2016-12-28  0.585948
1458  2016-12-29 -0.743942
1459  2016-12-30 -1.258815
1460  2016-12-31 -0.430834
1461  2017-01-01 -2.000775

In [9]:
test.head()

         date   meantemp   humidity  wind_speed  meanpressure
0  2017-01-01  15.913043  85.869565    2.743478     59.000000
1  2017-01-02  18.500000  77.222222    2.894444   1018.277778
2  2017-01-03  17.111111  81.888889    4.016667   1018.333333
3  2017-01-04  18.700000  70.050000    4.545000   1015.700000
4  2017-01-05  18.388889  74.944444    3.300000   1014.333333